@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';

@import 'partials/card';

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body {
    width: 100%;
    height: 100%;
    background-color: $thirdWhite;

    .container {
        @include margin( 0, auto, 0, auto );
        @include padding( 3, 1, 3, 1 );

        @media (min-width: $lg) {
            max-width: $lg - 32px;
        }

        width: 100%;

        #search-form {
            @include margin( 1.5, 0, 1.5, 0 );

            .form-control {
                display: flex;
                @include border-radius( 2px );
                background-color: $primaryWhite;
                box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.05 );

                &:hover, &:active, &:focus {
                    box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.1);
                }

                #search-field {
                    flex: 1;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    padding: 1em;
                }

                .form-icon {
                    cursor: pointer;
                    text-align: center;
                    padding: 1em;
                }
            }
        }

        #loader {
            box-sizing: content-box;
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            padding: 1em;
        }

        .content {
            display: flex;

            @media (max-width: $md) {
                display: block;
            }

            main {
                flex-basis: 66%;
                @include margin( 0, 1.5, 0, 0 );

                @media (max-width: $md) {
                    @include margin( 0, 0, 0, 0 );
                }
            }

            aside {
                flex-basis: 33%;
            }
        }
    }
}