@import 'partials/variables';
@import 'partials/mixins';
@import 'partials/typography';

@import 'partials/card';

*,
*::before,
*::after {
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body {
    width: 100%;
    height: 100%;
    background-color: $thirdWhite;

    .container {
        margin: 0 auto;
        padding: 3rem 1rem;

        @media (min-width: $lg) {
            max-width: $lg - 32px;
        }

        @media (max-width: $lg) {
            padding: 1rem;
        }

        width: 100%;

        #search-form {
            margin: 1.5rem 0;

            @media (max-width: $lg) {
                margin: 0 0 1rem 0;
            }

            .form-control {
                display: flex;
                background-color: $primaryWhite;
                box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.05 );
                @include border-radius( 2px );

                &:hover, &:active, &:focus {
                    box-shadow: 0 2px 2px rgba( 0, 0, 0, 0.1);
                }

                #search-field {
                    flex: 1;
                    width: 100%;
                    border: 0;
                    outline: 0;
                    padding: 1rem;
                }

                .form-icon {
                    cursor: pointer;
                    text-align: center;
                    padding: 1rem;
                }
            }
        }

        #loader {
            box-sizing: content-box;
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 auto;
            padding: 1rem;
        }

        .content {
            display: flex;

            @media (max-width: $md) {
                display: block;
            }

            main {
                flex-basis: 66%;
                margin: 0 1.5rem 0 0;

                @media (max-width: $lg) {
                    margin: 0 1rem 0 0;
                }

                @media (max-width: $md) {
                    margin: 0;
                }
            }

            aside {
                flex-basis: 33%;
            }
        }
    }
}