<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Node.js</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav text-uppercase">
        <div class="nav-items">
            <a href="/" class="nav-item">Home</a>
            <a class="nav-item active">About</a>
            <a href="/contact" class="nav-item">Contact</a>
        </div>
    </nav>
    
    <div id="container">
        <div class="row">
            <main class="col-66">
                <div class="card">
                    <div class="card-header">
                        <h3>About</h3>
                        <p class="secondary">CSS showcase</p>
                    </div>

                    <div class="card-body">
                        <div class="row">
                            <div class="col-33">
                                <div class="card">
                                    <div class="card-header">
                                        33%
                                    </div>

                                    <div class="card-body">
                                        Subcard
                                    </div>
                                </div>
                            </div>

                            <div class="col-33">
                                <div class="card">
                                    <div class="card-header">
                                        33%
                                    </div>

                                    <div class="card-body">
                                        Subcard
                                    </div>
                                </div>
                            </div>

                            <div class="col-33">
                                <div class="card">
                                    <div class="card-header">
                                        33%
                                    </div>

                                    <div class="card-body">
                                        Subcard
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget vulputate metus. Integer eget nulla tincidunt, pulvinar nibh quis, cursus quam.</p>
                            </div>
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>Maecenas bibendum ex in nulla pretium rutrum. Vestibulum molestie mi vitae tortor venenatis fringilla. Praesent sed orci ac diam tincidunt finibus id id elit.</p>
                            </div>
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>Proin nec venenatis massa, vel imperdiet turpis. Etiam sit amet augue varius, mattis sapien id, ultricies massa. Integer id scelerisque libero.</p>
                            </div>
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>In hac habitasse platea dictumst. Suspendisse a felis viverra, iaculis tortor vitae, pulvinar magna. Pellentesque congue auctor risus, vel lacinia eros luctus nec. Integer vel finibus odio, sollicitudin convallis tellus. Curabitur viverra tempor est, a pulvinar sapien.</p>
                            </div>
                        </div>

                        <div class="row center">
                            <div class="col-66">
                                <h4>66%</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget vulputate metus. Integer eget nulla tincidunt, pulvinar nibh quis, cursus quam.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget vulputate metus. Integer eget nulla tincidunt, pulvinar nibh quis, cursus quam.</p>
                            </div>
                            <div class="col-50">
                                <h4>50%</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget vulputate metus. Integer eget nulla tincidunt, pulvinar nibh quis, cursus quam.</p>
                            </div>
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>Maecenas bibendum ex in nulla pretium rutrum. Vestibulum molestie mi vitae tortor venenatis fringilla. Praesent sed orci ac diam tincidunt finibus id id elit.</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-75">
                                <h4>75%</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eget vulputate metus. Integer eget nulla tincidunt, pulvinar nibh quis, cursus quam.</p>
                            </div>
                            <div class="col-25">
                                <h4>25%</h4>
                                <p>Maecenas bibendum ex in nulla pretium rutrum. Vestibulum molestie mi vitae tortor venenatis fringilla. Praesent sed orci ac diam tincidunt finibus id id elit.</p>
                            </div>
                        </div>
                        <p>Maecenas bibendum ex in nulla pretium rutrum. Vestibulum molestie mi vitae tortor venenatis fringilla. Praesent sed orci ac diam tincidunt finibus id id elit.</p>
                    </div>

                    <div class="card-footer">
                        <a href="/" class="btn ">Basic</a>
                        <a class="btn btn-primary">Primary</a>
                        <a class="btn btn-success">Success</a>
                        <a class="btn btn-warning">Warning</a>
                        <a class="btn btn-danger">Danger</a>
                    </div>
                </div>
            </main>

            <aside class="col-33 is-deck">
                <div class="card">
                    <div class="card-header">
                        <h3>Sidebar</h3>
                        <p class="secondary">You could add some text here..</p>
                    </div>

                    <div class="card-body">
                        <a href="/form" class="btn btn-primary btn-full">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add a Post
                        </a>
                        <a href="https://github.com/Sultenhest/nodejs_mandatory_02" class="btn btn-success btn-full" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            GitHub Repository
                        </a>
                        <a href="/posts/" class="btn btn-warning btn-full">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Posts JSON
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>Menu</h3>
                    </div>

                    <div class="card-body">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a class="disabled">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/javascript.min.js"></script>
</body>
</html>