<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Node.js</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.min.css" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="row">
            <main class="col-66">
                <div class="card">
                    <div class="card-header">
                        <h3>Contact</h3>
                        <p class="secondary">You could add some text here..</p>
                    </div>

                    <div class="card-body">
                        <p>This is the contact page.</p>
                    </div>
                </div>
            </main>

            <aside class="col-33 is-deck">
                <div class="card">
                    <div class="card-header">
                        <h3>Sidebar</h3>
                        <p class="secondary">You could add some text here..</p>
                    </div>

                    <div class="card-body">
                        <a href="/posts/" class="btn btn-primary btn-full">
                            JSON
                        </a>
                        <a href="https://github.com/Sultenhest/nodejs_mandatory_02" class="btn btn-success btn-full" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            GitHub
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>Sidebar 2</h3>
                    </div>

                    <div class="card-body">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a class="disabled">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/javascript.min.js"></script>
</body>
</html>