<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Node.js</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="../css/style.min.css" rel="stylesheet">
</head>
<body>
    <nav class="nav text-uppercase">
        <div class="nav-items">
            <a href="/" class="nav-item">Home</a>
            <a href="/about" class="nav-item">About</a>
            <a href="/contact" class="nav-item">Contact</a>
        </div>
    </nav>
    
    <div id="container">
        <div class="row">
            <main class="col-66">
                <div class="card">
                    <div id="map" class="card-image"></div>

                    <div class="card-header">
                        <h3>Contact</h3>
                        <p class="secondary">Contact us if you got something to tell us</p>
                    </div>

                    <div class="card-body">
                        <p class="secondary">NOTE: The form doesn't actually do anything.</p>

                        <form method="" action="">
                            <div class="form-control">
                                <input type="text" id="name" class="control-field" name="name" placeholder="Name" required>
                            </div>

                            <div class="form-control">
                                <input type="text" id="email" class="control-field" name="email" placeholder="Email" required>
                            </div>

                            <div class="form-control">
                                <textarea id="message" class="control-field" name="message" placeholder="Message" rows="10" required></textarea>
                            </div>

                            <input type="submit" id="submit" class="btn btn-primary" value="Submit">
                        </form>
                    </div>
                </div>
            </main>

            <aside class="col-33 is-deck">
                <div class="card">
                    <div class="card-header">
                        <h3>Sidebar</h3>
                        <p class="secondary">You could add some text here..</p>
                    </div>

                    <div class="card-body">
                        <a href="/form" class="btn btn-primary btn-full">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            Add a Post
                        </a>
                        <a href="https://github.com/Sultenhest/nodejs_mandatory_02" class="btn btn-success btn-full" target="_blank">
                            <i class="fa fa-github" aria-hidden="true"></i>
                            GitHub Repository
                        </a>
                        <a href="/posts/" class="btn btn-warning btn-full">
                            <i class="fa fa-file-o" aria-hidden="true"></i>
                            Posts JSON
                        </a>
                    </div>
                </div>

                <div class="card">
                    <div class="card-header">
                        <h3>Menu</h3>
                    </div>

                    <div class="card-body">
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a class="disabled">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../js/javascript.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArDjys7OczWRIub2otEENbUltFvc3F_9I&callback=initMap"></script>
</body>
</html>