@charset "UTF-8";
html {
  font-size: 16px;
  font-size: 1em;
  line-height: 1.5;
  font-weight: normal;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: rgba(0, 0, 0, 0.87); }
  @media (min-width: 640px) {
    html {
      font-size: 32px;
      font-size: 2em; } }
  @media (min-width: 1024px) {
    html {
      font-size: 24px;
      font-size: 1.5em; } }
  @media (min-width: 1170px) {
    html {
      font-size: 16px;
      font-size: 1em; } }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 64px;
  font-size: 4em; }

h2 {
  font-size: 48px;
  font-size: 3em; }

h3 {
  font-size: 32px;
  font-size: 2em; }

h4 {
  font-size: 24px;
  font-size: 1.5em; }

h5 {
  font-size: 16px;
  font-size: 1em; }

h6 {
  font-size: 12px;
  font-size: 0.75em; }

a  {
  text-decoration: none; }

p {
  margin: 0 0 16px 0; }

em {
  font-style: italic; }

strong {
  font-weight: 500; }

small {
  font-size: 75%; }

.light {
  font-weight: 300; }

.thin {
  font-weight: 200; }

.secondary {
  color: rgba(0, 0, 0, 0.54); }

.disabled {
  color: rgba(0, 0, 0, 0.38); }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase  {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

.card {
  background-color: #fafbfd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  margin-top: 0px;
  margin-top: 0em;
  margin-right: 0px;
  margin-right: 0em;
  margin-bottom: 24px;
  margin-bottom: 1.5em;
  margin-left: 0px;
  margin-left: 0em; }
  .card h1, .card h2, .card h3, .card h4, .card h5, .card h6, .card p {
    margin-top: 0px;
    margin-top: 0em;
    margin-right: 0px;
    margin-right: 0em;
    margin-bottom: 0px;
    margin-bottom: 0em;
    margin-left: 0px;
    margin-left: 0em;
    padding-top: 0px;
    padding-top: 0em;
    padding-right: 0px;
    padding-right: 0em;
    padding-bottom: 0px;
    padding-bottom: 0em;
    padding-top: 0px;
    padding-left: 0em; }
  .card .card-header {
    background-color: #ffffff;
    padding-top: 24px;
    padding-top: 1.5em;
    padding-right: 24px;
    padding-right: 1.5em;
    padding-bottom: 24px;
    padding-bottom: 1.5em;
    padding-top: 24px;
    padding-left: 1.5em; }
  .card .card-body {
    padding-top: 24px;
    padding-top: 1.5em;
    padding-right: 24px;
    padding-right: 1.5em;
    padding-bottom: 24px;
    padding-bottom: 1.5em;
    padding-top: 24px;
    padding-left: 1.5em; }
  .card .card-footer {
    padding-top: 24px;
    padding-top: 1.5em;
    padding-right: 24px;
    padding-right: 1.5em;
    padding-bottom: 24px;
    padding-bottom: 1.5em;
    padding-top: 24px;
    padding-left: 1.5em; }

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  width: 100%;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  background-color: #eeeff1; }
  body .container {
    margin-top: 0px;
    margin-top: 0em;
    margin-right: auto;
    margin-bottom: 0px;
    margin-bottom: 0em;
    margin-left: auto;
    padding-top: 48px;
    padding-top: 3em;
    padding-right: 16px;
    padding-right: 1em;
    padding-bottom: 48px;
    padding-bottom: 3em;
    padding-top: 16px;
    padding-left: 1em;
    width: 100%; }
    @media (min-width: 640px) {
      body .container {
        max-width: 608px; } }
    @media (min-width: 1024px) {
      body .container {
        max-width: 992px; } }
    @media (min-width: 1170px) {
      body .container {
        max-width: 1138px; } }
    body .container #loader {
      display: block;
      width: 40px;
      height: 40px;
      margin-top: 0px;
      margin-top: 0em;
      margin-right: auto;
      margin-bottom: 0px;
      margin-bottom: 0em;
      margin-left: auto;
      padding: 2em; }
