@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

a  {
  text-decoration: none; }

p {
  margin: 0 0 1rem 0; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

small {
  font-size: 75%; }

.light {
  font-weight: 300; }

.thin {
  font-weight: 200; }

.bold {
  font-weight: 700; }

.secondary {
  color: rgba(0, 0, 0, 0.54); }

.disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: default !important; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase  {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

.card {
  background-color: #fafbfd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  margin: 0 0 1.5rem 0;
  border-radius: 2px; }
  @media (max-width: 1170px) {
    .card {
      margin: 0 0 1rem 0; } }
  .card h1, .card h2, .card h3, .card h4, .card h5, .card h6, .card p {
    margin: 0;
    padding: 0; }
  .card .card-header {
    background-color: #ffffff;
    padding: 1.5rem; }
  .card .card-body {
    padding: 1.5rem; }
  .card .card-footer {
    padding: 1.5rem; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

body {
  width: 100%;
  height: 100%;
  background-color: #eeeff1; }
  body .container {
    margin: 0 auto;
    padding: 3rem 1rem;
    width: 100%; }
    @media (min-width: 1170px) {
      body .container {
        max-width: 1138px; } }
    @media (max-width: 1170px) {
      body .container {
        padding: 1rem; } }
    body .container #search-form {
      margin: 1.5rem 0; }
      @media (max-width: 1170px) {
        body .container #search-form {
          margin: 0 0 1rem 0; } }
      body .container #search-form .form-control {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: #ffffff;
        -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
                box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
        border-radius: 2px; }
        body .container #search-form .form-control:hover, body .container #search-form .form-control:active, body .container #search-form .form-control:focus {
          -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
                  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
        body .container #search-form .form-control #search-field {
          -webkit-box-flex: 1;
              -ms-flex: 1;
                  flex: 1;
          width: 100%;
          border: 0;
          outline: 0;
          padding: 1rem; }
        body .container #search-form .form-control .form-icon {
          cursor: pointer;
          text-align: center;
          padding: 1rem; }
    body .container #loader {
      -webkit-box-sizing: content-box;
              box-sizing: content-box;
      display: block;
      width: 40px;
      height: 40px;
      margin: 0 auto;
      padding: 1rem; }
    body .container .content {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 1024px) {
        body .container .content {
          display: block; } }
      body .container .content main {
        -ms-flex-preferred-size: 66%;
            flex-basis: 66%;
        margin: 0 1.5rem 0 0; }
        @media (max-width: 1170px) {
          body .container .content main {
            margin: 0 1rem 0 0; } }
        @media (max-width: 1024px) {
          body .container .content main {
            margin: 0; } }
      body .container .content aside {
        -ms-flex-preferred-size: 33%;
            flex-basis: 33%; }
