@charset "UTF-8";
html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
     -moz-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 0.87); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  margin: 0; }

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  font-weight: inherit; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

a {
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none; }
  a:hover, a:active, a:focus {
    color: rgba(0, 0, 0, 0.54);
    text-decoration: underline; }
  a.disabled {
    color: rgba(0, 0, 0, 0.38);
    text-decoration: none; }

p {
  margin: 0 0 1rem 0; }

em {
  font-style: italic; }

strong {
  font-weight: 700; }

small {
  font-size: 75%; }

.light {
  font-weight: 300; }

.thin {
  font-weight: 200; }

.bold {
  font-weight: 700; }

.secondary {
  color: rgba(0, 0, 0, 0.54); }

.disabled {
  color: rgba(0, 0, 0, 0.38);
  cursor: default !important; }

.pointer {
  cursor: pointer; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-justify {
  text-align: justify; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase  {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
            transform: translate3d(0, 100%, 0); }
  to {
    opacity: 1;
    -webkit-transform: none;
            transform: none; } }

.fadeInUp {
  -webkit-animation-name: fadeInUp;
          animation-name: fadeInUp; }

.btn {
  color: rgba(0, 0, 0, 0.87);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 0.5rem 1rem;
  margin: 0 0.5rem 0 0;
  border: transparent;
  cursor: pointer;
  display: inline-block;
  line-height: 1.5;
  vertical-align: middle;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border-radius: 2px;
  background-color: #eeeff1; }
  .btn:hover, .btn:active, .btn:focus {
    background-color: #fcfcfd; }
  .btn:hover, .btn:active, .btn:focus {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    text-decoration: none; }
  .btn:last-child {
    margin: 0; }
  .btn.btn-primary {
    background-color: #3498db;
    color: #ffffff; }
    .btn.btn-primary:hover, .btn.btn-primary:active, .btn.btn-primary:focus {
      background-color: #4aa3df; }
  .btn.btn-success {
    background-color: #2ecc71;
    color: #ffffff; }
    .btn.btn-success:hover, .btn.btn-success:active, .btn.btn-success:focus {
      background-color: #40d47e; }
  .btn.btn-warning {
    background-color: #f1c40f;
    color: #ffffff; }
    .btn.btn-warning:hover, .btn.btn-warning:active, .btn.btn-warning:focus {
      background-color: #f2ca27; }
  .btn.btn-danger {
    background-color: #e74c3c;
    color: #ffffff; }
    .btn.btn-danger:hover, .btn.btn-danger:active, .btn.btn-danger:focus {
      background-color: #ea6153; }
  .btn.btn-full {
    display: block;
    text-align: center;
    margin: 0 0 1rem 0; }
    .btn.btn-full:last-child {
      margin: 0; }

.card {
  position: relative;
  background-color: #fafbfd;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px; }
  .card h1:last-child, .card h2:last-child, .card h3:last-child, .card h4:last-child, .card h5:last-child, .card h6:last-child, .card p:last-child {
    margin: 0;
    padding: 0; }
  .card:hover, .card:active, .card:focus {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
  .is-deck .card {
    margin: 0 0 1.5rem 0; }
    @media (max-width: 1024px) {
      .is-deck .card {
        margin: 0 0 1rem 0; } }
  .card .card-image {
    width: 100%;
    height: 300px; }
  .card .card-header {
    background-color: #ffffff;
    padding: 1.5rem; }
    .card .card-header .fa-angle-right {
      position: absolute;
      right: 20px;
      top: 50%;
      margin-top: -24px; }
  .card .card-body {
    padding: 1.5rem; }
  .card .card-footer {
    padding: 1.5rem; }

.form-control {
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
  border-color: transparent;
  margin: 1.5rem 0; }
  .form-control:hover, .form-control:active, .form-control:focus {
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
            box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1); }
  .form-control:first-child {
    margin-top: 0; }
  @media (max-width: 1170px) {
    .form-control {
      margin: 0 0 1rem 0; } }
  .form-control textarea {
    resize: none; }
  .form-control .control-field {
    width: 100%;
    border: 0;
    outline: 0;
    padding: 1rem;
    line-height: 1.5; }
  .form-control.has-icon {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .form-control.has-icon .control-field {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1; }
  .form-control .form-icon {
    cursor: pointer;
    text-align: center;
    padding: 1rem; }

#container {
  width: 100%;
  margin: 0 auto;
  padding: 4rem 1rem; }
  @media (min-width: 1170px) {
    #container {
      max-width: 1138px; } }
  #container .row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 0 1.5rem 0; }
    @media (max-width: 640px) {
      #container .row {
        display: block;
        margin: 0 0 1rem 0; } }
    #container .row.center {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; }
    #container .row .col, #container .row .col-100, #container .row .col-75, #container .row .col-66, #container .row .col-50, #container .row .col-33, #container .row .col-25 {
      -webkit-box-flex: 1;
          -ms-flex: 1;
              flex: 1;
      margin: 0 1.5rem 0 0; }
      #container .row .col:last-child, #container .row .col-100:last-child, #container .row .col-75:last-child, #container .row .col-66:last-child, #container .row .col-50:last-child, #container .row .col-33:last-child, #container .row .col-25:last-child {
        margin: 0; }
      @media (max-width: 640px) {
        #container .row .col, #container .row .col-100, #container .row .col-75, #container .row .col-66, #container .row .col-50, #container .row .col-33, #container .row .col-25 {
          width: 100% !important;
          max-width: 100% !important; }
          #container .row .col:not(:last-child), #container .row .col-100:not(:last-child), #container .row .col-75:not(:last-child), #container .row .col-66:not(:last-child), #container .row .col-50:not(:last-child), #container .row .col-33:not(:last-child), #container .row .col-25:not(:last-child) {
            margin: 0 0 1rem 0; } }
    #container .row .col-100 {
      width: 100%;
      max-width: 100%; }
    #container .row .col-75 {
      width: 75%;
      max-width: 75%; }
    #container .row .col-66 {
      width: 66%;
      max-width: 66%; }
    #container .row .col-50 {
      width: 50%;
      max-width: 50%; }
    #container .row .col-33 {
      width: 33%;
      max-width: 33%; }
    #container .row .col-25 {
      width: 25%;
      max-width: 25%; }

ol, ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }

#modal-overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: none;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.75); }
  #modal-overlay .modal-close {
    color: #ffffff;
    position: absolute;
    top: 20px;
    right: 20px; }
  #modal-overlay .modal {
    width: 500px;
    max-width: 80%;
    margin: 5rem auto; }

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05); }
  .nav .nav-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
    .nav .nav-items .nav-item {
      display: block;
      padding: 0.75rem 1rem; }
      .nav .nav-items .nav-item:hover, .nav .nav-items .nav-item:active, .nav .nav-items .nav-item:focus {
        padding: 0.75rem 1rem 0.5rem;
        border-bottom: 0.25rem solid #e74c3c;
        text-decoration: none; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both; }

#loader {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: block;
  width: 40px;
  height: 40px;
  margin: 0 auto;
  padding: 1rem; }

body {
  width: 100%;
  height: 100%;
  background-color: #eeeff1; }
