.card {
    background-color: $secondWhite;
    box-shadow: 0 1px 1px rgba( 0, 0, 0, 0.05 );
    margin: 0 0 1.5rem 0;
    @include border-radius( 2px );

    @media (max-width: $lg) {
        margin: 0 0 1rem 0;
    }

    h1, h2, h3, h4, h5, h6, p {
        margin: 0;
        padding: 0;
    }

    .card-header {
        background-color: $primaryWhite;
        padding: 1.5rem;
    }

    .card-body {
        padding: 1.5rem;
    }

    .card-footer {
        padding: 1.5rem;
    }
}