@mixin font-size( $arg ) {
    font-size: ($arg * 16) + px;
    font-size: $arg + em;
}

@mixin margin( $top, $right, $bottom, $left ) {
    margin-top:    ($top * 16) + px;
    margin-top:     $top + em;
    @if( $right == 'auto' ) {
        margin-right: auto;
    } @else {
        margin-right: ($right * 16) + px;
        margin-right:  $right + em;
    }
    margin-bottom: ($bottom * 16) + px;
    margin-bottom:  $bottom + em;
    @if( $left == 'auto' ) {
        margin-left: auto;
    } @else {
        margin-left: ($left * 16) + px;
        margin-left: $left + em;
    }
}

@mixin padding( $top, $right, $bottom, $left ) {
    padding-top:    ($top * 16) + px;
    padding-top:     $top + em;
    padding-right:  ($right * 16) + px;
    padding-right:   $right + em;
    padding-bottom: ($bottom * 16) + px;
    padding-bottom:  $bottom + em;
    padding-top:    ($left * 16) + px;
    padding-left:    $left + em;
}

@mixin marginPadding( $top, $right, $bottom, $left ) {
    @include margin( $top, $right, $bottom, $left );
    @include padding( $top, $right, $bottom, $left );
}
