html {
    line-height: 1.15;
    text-size-adjust: 100%;
}

body {
    font-family: $fontFamily;
    font-size: $fontBase;
    font-weight: 400;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    color: rgba(0, 0, 0, 0.87);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    margin: 0;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
h1 { font-size: $h1Size; }
h2 { font-size: $h2Size; }
h3 { font-size: $h3Size; }
h4 { font-size: $h4Size; }
h5 { font-size: $h5Size; }
h6 { font-size: $h6Size; }

a { text-decoration: none; }
p { margin: 0 0 1rem 0; }
em { font-style: italic; }
strong { font-weight: 700; }
small { font-size: 75%; }
.light { font-weight: 300; }
.thin { font-weight: 200; }
.bold { font-weight: 700; }
.secondary { color: rgba(0, 0, 0, 0.54); }
.disabled { color: rgba(0, 0, 0, 0.38); cursor: default !important; }

.text-left { text-align: left; }
.text-center { text-align: center; }
.text-right { text-align: right; }
.text-justify { text-align: justify; }

.text-lowercase { text-transform: lowercase; }
.text-uppercase { text-transform: uppercase; }
.text-capitalize{ text-transform: capitalize; }
